@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/SiteMaster.cshtml";
}

<style>
    #main_container {
        width: 1024px;
        min-height: 501px;
        margin:46px 0px 0px 13px;
        color:white;
        font-family:Consolas;
        font-size: 17px;
        float:left;

    }
    #about_text {
        width:1024px;
        min-height:501px;
        float:left;
        position: absolute;
    }
     #about_img {
         width:380px;
         min-height:501px;
         float:right;
    }
    .lista {
        padding-left: 30px;
        font-size: 17px;
        font-weight: normal;
        margin-top:5px;
    }
</style>
<div id="main_container">
    <div id="about_text">
    <h2 style="float:left;color: #ff776b;font-size: 20px; margin-right:10px;">"Ива-Монт" </h2>
    <p> е овластен застапник за "Термоенергетика Лучани", која ја произведува следнава опрема и арматура: </p></br>
    <ul class="lista">
                    <li>одвојувачи на кондензат</li>
                    <li>фаќач на нечистотија</li>
                    <li>регулатори на притисок без помош на енергија</li>
                    <li>престројни вентили</li>
                    <li>регулатори на температура без помош на енергија</li>
                    <li>отпарувачи</li>
                    <li>разменувачи на топлина</li>
                    <li>сигурносни вентили</li>
                </ul>
        </div>
    <div id="about_img">
        <img src="/Content/images/ttt.png" style="margin: 70px 0px 0px -60px;">
    </div>
    </div>
