@{
    ViewBag.Title = "Clients";
    Layout = "~/Views/Shared/SiteMaster.cshtml";
}

@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/SiteMaster.cshtml";
}
<style>
    #main_container {
        width: 1024px;
        height: 650px;
        margin:46px 0px 0px 55px;

    }

    .container_item {
        border: 1px solid gray;
        float: left;
        width: 282px;
        height: 163px;
        background: url('/Content/images/siteImages/repeatPicture.gif');
        margin-right:40px;
        text-align:center;
        background-color: #404040;
        margin-bottom: 20px;
    }

    .container_items_front {
        font-size: 17px;
        font-weight: normal;
        width: 260px;
        height: 140px;
        background-color: #ffffff;
        margin-top: 10px;
        margin-left: 10px;
        border: 1px solid gray;
        color: white;
        line-height:140px;
    }

</style>
<div id="main_container">

    <div class="container_item">

        <div class="container_items_front">
                <img src="/Content/images/clients/alkaloid_skopje.png" style="vertical-align: middle;">
        </div>
    </div>

    <div class="container_item">

        <div class="container_items_front">
                <img src="/Content/images/clients/cementarnica_usje.png" style="vertical-align: middle;">
        </div>
    </div>

    <div class="container_item">

        <div class="container_items_front">
                <img src="/Content/images/clients/tikves_kavadarci.png" style="vertical-align: middle;">
        </div>

    </div>


    <div class="container_item">

        <div class="container_items_front">
                <img src="/Content/images/clients/rz_institut.png" style="vertical-align: middle;">
        </div>
    </div>

    <div class="container_item">

        <div class="container_items_front">
                <img src="/Content/images/clients/makedonija_turist.png" style="vertical-align: middle;">
        </div>
    </div>

    <div class="container_item">

        <div class="container_items_front">
                <img src="/Content/images/clients/krka_farma.png" style="vertical-align: middle;">
        </div>

    </div>

    <div class="container_item">

        <div class="container_items_front">
                <img src="/Content/images/clients/johnson_matthey.png" style="vertical-align: middle;">
        </div>
    </div>

    <div class="container_item">

        <div class="container_items_front">
                <img src="/Content/images/clients/zitoleb.png" style="vertical-align: middle;">
        </div>
    </div>

    <div class="container_item">

        <div class="container_items_front">
                <img src="/Content/images/clients/tkp_prilep.png" style="vertical-align: middle;">
        </div>

    </div>

    <div class="container_item">

        <div class="container_items_front">
                <img src="/Content/images/clients/fructal.png" style="vertical-align: middle;">
        </div>

    </div>

</div>

