@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/SiteMaster.cshtml";
}

<div id="product">

    <div class="imgOutside">

        <div class="imgInside" onclick="productDetails('Proizvod1')">
                <img src="/Content/images/products/Proizvod_1.png" style="margin-left: 64px;"> 
        </div>
 
         <div style="clear:both"></div>
          <div class="desc"><p>Топловоден електричен котел</p>
        <img src="/Content/images/products/product_footer.png" style="margin-left: 6px;margin-top: 16px;">
              </div>
    </div>
    <div class="imgOutside">
        <div class="imgInside" onclick="productDetails('Proizvod2')">
                <img src="/Content/images/products/Proizvod_2.png" >
        </div>

         <div style="clear:both"></div>
        <div class="desc"><p>Топловоден електричен котел</p>
        <img src="/Content/images/products/product_footer.png" style="margin-left: 6px;margin-top: 16px;">
            </div>
    </div>
    <div class="imgOutside">
    
        <div class="imgInside" onclick="productDetails('Proizvod3')">
                <img src="/Content/images/products/Proizvod_3.png" style="margin-left: 64px;">
        </div>
      
        <div style="clear:both"></div>
        <div class="desc"><p>Топловоден електричен котел</p>
        <img src="/Content/images/products/product_footer.png" style="margin-left: 6px;margin-top: 16px;">
           </div>
    </div>
</div>

<script type="text/javascript">

        function productDetails(e) {
            $('#product').empty();
            $('#product').css('min-height', '501px');
            var pom = "<div id='prduct_maindiv'><div id='prduct_descdiv'><div id='product_back'><a href='/Site/Products/'><div id='backimage'class='zaKoki'></div></a></div><div id='product_text'></div></div>"
               + "<div id='product_middle_line'></div><div id='prduct_imgdiv'></div><div id='prduct_thumbdiv'></div></div>";
            $('#product').append(pom);
            if (e == 'Proizvod1') {
                $('#prduct_imgdiv').append('<img src="/Content/images/products/main/Proizvod_1.png" style="margin: 30px 0px 0px 101px;">');
                $('#product_text').append('<p>The highest quantity. Of the highest quality.The App Store has the world’s largest collection of mobile apps. But it’s not just the number that’s impressive. It’s the kinds of apps you’ll find. iPhone apps offer a better experience because they take advantage of the technologies built into the device. And all those apps are in one place, so they’re easy to access, easy to search, +'
                +'and easy to download — using the same Apple ID account you use on iTunes.</p>');
                $('#prduct_thumbdiv').append('<img src="/Content/images/products/thumbs/Proizvod_1.1.png"class="thumbs" onclick="productImages(\'' + "Proizvod1_1" + '\')">');
                $('#prduct_thumbdiv').append('<img src="/Content/images/products/thumbs/Proizvod_1.2.png"class="thumbs" onclick="productImages(\'' + "Proizvod1_2" + '\')" style="margin-left:38px;">');
                $('#prduct_thumbdiv').append('<img src="/Content/images/products/thumbs/Proizvod_1.3.png"class="thumbs" onclick="productImages(\'' + "Proizvod1_3" + '\')" style="margin-left:38px;">');
            }
            if (e == 'Proizvod2') {
                $('#prduct_imgdiv').append('<img src="/Content/images/products/main/Proizvod_2.png" style="margin: 30px 0px 0px 27px;">');
                $('#product_text').append('<p>The highest quantity. Of the highest quality.The App Store has the world’s largest collection of mobile apps. But it’s not just the number that’s impressive. It’s the kinds of apps you’ll find. iPhone apps offer a better experience because they take advantage of the technologies built into the device. And all those apps are in one place, so they’re easy to access, easy to search, +'
                +'and easy to download — using the same Apple ID account you use on iTunes.</p>');
                $('#prduct_thumbdiv').append('<img src="/Content/images/products/thumbs/Proizvod_2.1.png"class="thumbs" onclick="productImages(\'' + "Proizvod2_1" + '\')">');
                $('#prduct_thumbdiv').append('<img src="/Content/images/products/thumbs/Proizvod_2.2.png"class="thumbs" onclick="productImages(\'' + "Proizvod2_2" + '\')" style="margin-left:38px;">');
            }
            if (e == 'Proizvod3') {
                $('#prduct_imgdiv').append('<img src="/Content/images/products/main/Proizvod_3.png" style="margin: 30px 0px 0px 119px;">');
                $('#product_text').append('<p>The highest quantity. Of the highest quality.The App Store has the world’s largest collection of mobile apps. But it’s not just the number that’s impressive. It’s the kinds of apps you’ll find. iPhone apps offer a better experience because they take advantage of the technologies built into the device. And all those apps are in one place, so they’re easy to access, easy to search, +'
                +'and easy to download — using the same Apple ID account you use on iTunes.</p>');
                $('#prduct_thumbdiv').append('<img src="/Content/images/products/thumbs/Proizvod_3.1.png" class="thumbs" onclick="productImages(\''+"Proizvod3_1"+'\')">');
                $('#prduct_thumbdiv').append('<img src="/Content/images/products/thumbs/Proizvod_3.2.png" class="thumbs" onclick="productImages(\'' + "Proizvod3_2" + '\')" style="margin-left:38px;">');
                $('#prduct_thumbdiv').append('<img src="/Content/images/products/thumbs/Proizvod_3.3.png" class="thumbs" onclick="productImages(\'' + "Proizvod3_3" + '\')" style="margin-left:38px;">');

            }
           
        }

        function productImages(i) {

          
            //Proizvod br 1

            if (i == 'Proizvod1_1') {
                $('#prduct_imgdiv').empty();
                $('#prduct_imgdiv').append('<img src="/Content/images/products/main/Proizvod_1.png" style="margin: 30px 0px 0px 101px;">');

            }
            if (i == 'Proizvod1_2') {
                $('#prduct_imgdiv').empty();
                $('#prduct_imgdiv').append('<img src="/Content/images/products/main/Proizvod_1.2.png" style="margin: 30px 0px 0px 119px;">');
            }
            if (i == 'Proizvod1_3') {
                $('#prduct_imgdiv').empty();
                $('#prduct_imgdiv').append('<img src="/Content/images/products/main/Proizvod_1.3.png" style="margin: 30px 0px 0px 101px;">');
            }

            //Proizvod br 2

            if (i == 'Proizvod2_1') {
                $('#prduct_imgdiv').empty();
                $('#prduct_imgdiv').append('<img src="/Content/images/products/main/Proizvod_2.png" style="margin: 30px 0px 0px 27px;">');

            }
            if (i == 'Proizvod2_2') {
                $('#prduct_imgdiv').empty();
                $('#prduct_imgdiv').append('<img src="/Content/images/products/main/Proizvod_2.1.png" style="margin: 30px 0px 0px 27px;">');
            }

            //Proizvod br 3

            if (i == 'Proizvod3_1') {
                $('#prduct_imgdiv').empty();
                $('#prduct_imgdiv').append('<img src="/Content/images/products/main/Proizvod_3.png" style="margin: 30px 0px 0px 119px;">');

            }
            if (i == 'Proizvod3_2') {
                $('#prduct_imgdiv').empty();
                $('#prduct_imgdiv').append('<img src="/Content/images/products/main/Proizvod_3.2.png" style="margin: 30px 0px 0px 119px;">');
            }
            if (i == 'Proizvod3_3') {
                $('#prduct_imgdiv').empty();
                $('#prduct_imgdiv').append('<img src="/Content/images/products/main/Proizvod_3.3.png" style="margin: 30px 0px 0px 60px;">');
            }

        }
</script>