@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/SiteMaster.cshtml";
}

<div style="width:200px;height:200px; background:url('/Content/images/siteImages/repeatPicture.gif')">

    <div style="width:100px;height:100px;background-color:white;"></div>

</div>

