<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Site.css")" type="text/css" />
        <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.nicescroll.js")" type="text/javascript"></script>
    <title>IvaMont</title>
    <style>
         #ascrail2000-hr {
            display:none !important;
        }
        #ascrail2000 {
             display:grid !important;
        }
    </style>
    <link rel="shortcut icon" href="/Content/images/IvaMont_logo.ico">
</head>
<body>
    <div id="header">
        <a id="logo" href="/Site/Home";></a>
        <div id="menu">
            <div class="menu_head">
                 <ul class="menu_list" style="top:29px;left:192px">
                      <li style="width:80px;"><a style="margin-left:15px" href="/Site/About";>За нас</a></li>
                     <li style="width:80px;"><a style="margin-left:15px" href="/Site/Contact";>Контакт</a></li>
                 </ul>
            </div>
            <div id="menu_bottom">
                <ul class="menu_list">
                    <li style="width:80px;"><a style="margin-left:15px" href="/Site/Home";>Дома</a></li>
                    <li style="width:100px"><a style="margin-left: 10px;" href="/Site/Products";>Производи</a></li>
                     <li style="width:60px"><a style="margin-left: 6px;" href="/Site/Services";>Услуги</a></li>
                     <li ><a style="margin-left: 15px;" href="/Site/Clients";>Клиенти</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="content">
         @RenderBody()
     </div>
    <div id="footer">
       <div id="design_info">
           <a href="http://ilogic.mk/" rel="nofollow" target="_blank">Дизајн и функционалност <span style="color:red">i</span>Logic</a>
       </div>
    </div>
     <script type="text/javascript">
         $('body').niceScroll();

    </script>

</body>
</html>
