@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/SiteMaster.cshtml";
}

<div id="homeContent">
    <div id="homeProducts">
        <div id="homeProducts_title"><a href="/Site/Products">Продукти</a></div>
        <div id="homeProducts_items"></div>
    </div>
    <div id="homeServices">
        <div id="homeServices_title"><a href="/Site/Products">Услуги</a></div>
        <div id="homeServices_description"></div>
    </div>
</div>
